@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@font-face {
    font-family: Valorant;
    src: url('/fonts/Valorant Font.ttf');
}

.hero{
    width: 100vw;
    height: calc(100vh - 80px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Valorant;
}

.video{
    width: 200%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: initial;
}

p{
    position: absolute;
    top: 35%;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

h1{
    position: absolute;
    color: #ffffff;
    font-size: 150px;
    text-shadow: 0 0 10px #000000b0;
}

.hero-button{
    position: absolute;
    top: 70%;
}